@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhabalar</h1>
    <p>
        Bu sayfa, AutoMapper kütüphanesinin ASP.NET Core projelerinde nasıl kullanılabileceğini göstermek için hazırlanmıştır.
        Projemizdeki örnek uygulamaları inceleyerek veri dönüşümlerini ve mapping işlemlerini kolayca test edebilirsiniz.
        <br />
        <a asp-controller="User" asp-action="Index" class="btn btn-primary">Kullanıcı Sayfasına Git</a>
    </p>
</div>
